<!doctype html>
<html>
<head>
	<% include ../components/header %>
</head>
<body>
	<div class="container">		
		<div class="jumbotron" style="margin-top: 50px;">
		<span style="text-align: center;">
				<h1>I'm a</h1>
				<p><a href="/persons" class="btn btn-default btn-lg btn-block">Person</a></p>
				<p><a class="btn btn-default btn-lg btn-block">Cat</a></p>
			</span>
		</div>		
	</div>
</body>
</html>
