<!doctype html>
<html>
<head>
	<% include ../../components/header %>

	<script src="/controllers/persons/index.js"></script>
</head>
<body ng-app="personsIndex" ng-controller="PersonsIndexController">
	<% include ../../components/navbar %>

	<div class="container">
		<div class="bs-docs-section">
			<div class="page-header">
				<div class="row">
					<div class="col-lg-12">
						<h1>Persons</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="bs-component">
						<table class="table table-striped table-hover ">
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Tags</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="person in allPersons">
									<td>
										<a href="" ng-click="personClicked(person)" data-toggle="modal" data-target="#modalViewPDF">
											{{person.firstName}} {{person.lastName}}
										</a>
									</td>
									<td>{{person.description}}</td>
									<td>
										<a class="btn btn-info btn-xs personTag" ng-repeat="tag in person.tags">
											{{tag.text}}
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Modal Upload PDF -->
	<div id="modalViewPDF" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" ng-show="clickedPerson.uploadedPDFUrl">
						Person's PDF
					</h4>
					<h4 class="modal-title" ng-show="!clickedPerson.uploadedPDFUrl">
						This person has not uploaded a PDF...
					</h4>
				</div>
				<div class="modal-body" ng-show="!clickedPerson.uploadedPDFUrl">
					<p class="text-center">
						<img src="/res/img/sadSmiley.png" alt="sad" style="width:50%;height:50%;" />
					</p>
				</div>
				<div class="modal-body" ng-show="clickedPerson.uploadedPDFUrl">
						<p>The person uploaded this PDF:</p>
						<object style="width:100%;height:100%;" data="{{clickedPerson.uploadedPDFUrl}}" type="application/pdf">
							<p><em>Sorry, your browser does not support PDF preview.</em></p>
							<p><a href="{{clickedPerson.uploadedPDFUrl}}" target="_blank">Open in separate window</a></p>
						</object>
				</div>
				<div class="modal-footer">
					<a ng-show="clickedPerson.uploadedPDFUrl" class="pull-left" href="{{clickedPerson.uploadedPDFUrl}}" target="_blank">Download PDF</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
