<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">MinimalNode</a>
		</div>

		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/admin">Persons <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Cats</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a>Welcome <b><i><%=user.username%></b></i></a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
