<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">MinimalNode</a>
		</div>

		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/persons">Persons <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Cats</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<% if (user) { %>
						<a href="/admin">Admin</a>
						<%} else { %>
							<a href="#" data-toggle="modal" data-target="#modalLogin">Login</a>
							<%}%>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Modal login -->
		<div id="modalLogin" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button onclick="clearLogin()" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Login</h4>
					</div>
					<div class="modal-body">
						<div id="loginFailureMessage" class="alert alert-dismissible alert-warning" style="display:none;">
							<button type="button" class="close" onclick="clearLogin()">×</button>
							Sorry, could not login. Please try again...
						</div>
						<form action="/login" method="post" name="loginForm" class="form-horizontal">
							<div class="form-group">
								<label for="txtUsername" class="col-lg-2 control-label">Username</label>
								<div class="col-lg-8">
									<input type="text" required class="form-control" id="txtUsername">
								</div>
							</div>
							<div class="form-group">
								<label for="txtPassword" class="col-lg-2 control-label">Password</label>
								<div class="col-lg-8">
									<input type="text" required class="form-control" id="txtPassword">
								</div>
							</div>
							<p class="pull-left text-muted"><i>hint: try using "test" and "demo"</i></p>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" onclick="clearLogin()" class="btn btn-link" data-dismiss="modal">Cancel</button>
						<button type="button" onclick="login()" class="btn btn-default">Enter</button>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				function login() {
					var username = $('#txtUsername').val();
					var password = $('#txtPassword').val();
					var loginData = { "username" : username , "password" : password };

					$.ajax({
						url: '/login',
						type: 'post',
						contentType: 'application/json',
						data: JSON.stringify(loginData),
						success: function(){
							window.location = "/admin";
						},
						error: function(){
							$('#loginFailureMessage').fadeIn();
						}
					});
				}

				function clearLogin() {
					$('#txtUsername').val('');
					$('#txtPassword').val('');
					$('#loginFailureMessage').fadeOut();
				}
			</script>
		</div>
